﻿@model PairingTest.Web.Models.QuestionnaireViewModel
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="~/Content/questionnaire.css" rel="stylesheet"/>
    <title>@Model.QuestionnaireTitle</title>
</head>
<body>


<div class="container">
    <div class="qr-container">
        <h1 data-bind="text:QuestionnaireTitle"></h1>
        <div class="qr-questions" data-bind="foreach:Questions">
            <div class="qr-question">
                <div class="qr-question__text" data-bind="text:Text"></div>
                <input type="text" class="qr-question__input form-control" />
            </div>
        </div>
        

    </div>
</div>


<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/Models/Question.js"></script>
<script src="~/Scripts/Models/Questionnaire.js"></script>
<script type="text/javascript">

    var data = JSON.parse('@(Html.Raw(Json.Encode(Model)))');
    window.viewModel = new PairingTest.Questionnaire(data);
    ko.applyBindings(window.viewModel);
</script>
</body>
</html>